<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearningSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCB149E11DD953E00098DB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB149F51DD953E10098DB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB14A001DD953E10098DB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
